body{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    margin: 25vh;
}


#board{
    /*background-color: aqua; */
    background-image: url(./images/Background\ motion.jpg);
    align-items: center;
    justify-content: center;
    background-size: cover;
    border: 2px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
}

